<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>486066779032-mreoutubs1c7m0hoc0bspes9kv26ipci.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.486066779032-mreoutubs1c7m0hoc0bspes9kv26ipci</string>
	<key>API_KEY</key>
	<string>AIzaSyDzVfgeiukJ1RqmQd0h3MVtLoN-yTbrYew</string>
	<key>GCM_SENDER_ID</key>
	<string>486066779032</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cbdFood</string>
	<key>PROJECT_ID</key>
	<string>cbdfood-47b10</string>
	<key>STORAGE_BUCKET</key>
	<string>cbdfood-47b10.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:486066779032:ios:c0a7202b783e82a2</string>
	<key>DATABASE_URL</key>
	<string>https://cbdfood-47b10.firebaseio.com</string>
</dict>
</plist>